extends layout.pug

block nav
    a(class="active" href="/")="Home"
    a(href="/logout")="Logout"
block content

    div(Style="height: 400px; width: 400px")
        canvas(id="myChart")

    h1="hello"
    if(isAdmin)
        p="admin"

