html
    head
        link(href="/styles.css" rel="Stylesheet" type="text/css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js")
        script(src="/js/chartControl.js")
        block title
    body
        div(class="header top")
            span(Class="header-right")
                block nav
        block content