html
    head
        link(href="/styles.css" rel="Stylesheet" type="text/css")
        block title
    body
        div(class="header top")
            span(Class="header-right")
                a(href="/")="Home"
        block content